body {
  margin: 8px;
}
.e-schedule .e-appointment-details {
  padding: 0 !important;
}
.template-wrap {
  background: #008000;
  padding: 7px 5px 10px 20px;
  font-size: 14px;
}
.month-template-wrap {
  background: #ff4500;
  padding: 1px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}